
h1 {
    text-align: center;
    font-family: Arial;
}
body {

}
.nav-links {
    text-align: center;
    font-family: Arial;
    list-style: none;
}
.alert-info {
    text-align: center;
    border: 1px solid lightgray;
    text-decoration: none;
    font-family: Arial;

}
#main {
    text-align: left;
}

.header-img {

}
.main {
    text-align: left;
}

.sub-section {

}
#social-media-links {

}